html(lang="en")
    head
        title= pageTitle
        script(type='text/javascript').
    body
        h3 Dear User,
        #container.col

            p Welcome to the UniSqyn and you have to click on the below link to reset your password : 
             a(href=url) Reset Password
             
    h4 Thanks