html(lang="en")
    head
        title= pageTitle
        script(type='text/javascript').
    body
        h3 Hi,
        #container.col

            p You are invited by #{sender} to registered yourself on UniqSyq - Video conferencing app
            p as a participant to join into his private meetings. But registering on it you can host
            p number of video/audio meetings with your friends, family members, colleagues and record
            p all the webinar for later use.
            p  Join UniSynq by following the link 
                a(href=url) Click Here

            p We value your privacy and data security.

    h4 Thanks & Regards,

    h4 Support and Development Team
