html(lang="en")
    head
        title= pageTitle
        script(type='text/javascript').
    body
        h3 Hi,
        #container.col

            p You are invited by #{sender.fullname} to join the meeting #{meetingInfo.title}.
            p  If you are an existing user you just need to click on the below link and
            p  SignIn and you are automatically linked with the meeting.
            p  In case you are not a registered user on thinqlabs.net,
            p  you need to SignUp with your invited email with a strong password following the below link.
            p  Registerting the website, you can also host any number of meetings with your own participants. 

            p Join Meeting by following the link:

            a(href=url) Click Here
            p We value your privacy and data security.

    h4 Thanks & Regards,

    h4 Support and Development Team
    h4 www.thinqlabs.net 