html(lang="en")
    head
        title= pageTitle
        script(type='text/javascript').
    body
        h3 Hi #{reciever.fullname},
        #container.col

            p You are added as a participant by #{sender.fullname} on UniqSyq - Video conferencing app to join into his private meetings.
            p  SignIn to your account and check for the latest : 
            a(href=url) SignIn
            p  Problem in SignIn, check with Forget Password.
            p  We value your privacy and data security.

    h4 Thanks & Regards,

    h4 Support and Development Team